.icon-48-images {
      background-image: url(../images/l_images.png);
      padding-left:60px!important;
}

.icon-48-image {
      background-image: url(../images/l_images.png);
      padding-left:60px!important;
}

